header{

}

nav {
	background-color:LightBlue; width:100%;
	text-align:center;
	padding:3px;

}

div{
	border: 2px solid powderblue;
	text-align:center;
}

body{
	
	font-family: Trebucheet, sans-serif;
}