header{
	background-color:LightBlue;
	padding:2px;
	font-family:"futura", sans-serif;
}

nav {
	border: 2px solid powderblue;
	background-color:LightBlue; width:100%; text-align:center;
	padding:4px;
	font-family:futura;
}